.navbar {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    background: #000e08;
}

.over-navbar-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    border: 1px solid #363f3b;
}

.navbar-text {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 100% */
}

.navbar-avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid #fff;
    object-fit: cover;
}
